<div  ng-controller ="tictactoeGameController">

  <div ng-hide="gameJoined">
    <label for="userName">UserName</label>
    <input id="userName" ng-model="userName">
    <button ng-click="joinGame()">Join Game</button>
  </div>

  <table id="tictactoe2", ng-show="gameJoined">
    <tbody ng-click="makeMove($event)">
    <tr>
      <td id="0" class="cell0">&nbsp;</td>
      <td id="1" class="cell1">&nbsp;</td>
      <td id="2" class="cell2">&nbsp;</td>
    </tr>
    <tr>
      <td id="3" class="cell3">&nbsp;</td>
      <td id="4" class="cell4">&nbsp;</td>
      <td id="5" class="cell5">&nbsp;</td>
    </tr>
    <tr>
      <td id="6" class="cell6">&nbsp;</td>
      <td id="7" class="cell7">&nbsp;</td>
      <td id="8" class="cell8">&nbsp;</td>
    </tr>
    </tbody>
  </table>

</div>


